/* colores rgb con decimales */

h1{
  color: rgb(79,164,60);
}

/* colores a traves de la trama hexadecimal */
h2{
  color: #356F28;
}

/* colores con porcentajes decimales */
h3{
  color: rgb(1%,50%,70%);
}

/* colores con opacidad desde el rgba */
h4{
  color:rgba(134,47,126,.5);
}